* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --blue1: #2AA3CC;
    --blue2: #2388A9;
    --gray1: #4F4C57;
    --gray2: #777283;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--blue1);
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.line {
    height: 0;
    width: 90vw;
    border-bottom: #777283 solid 0.1rem;
    margin: 2rem auto 2rem auto;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--gray1);
    text-align: center;
}

p {
    font-family: 'Libre Franklin', sans-serif;
    color: var(--gray2);
    text-align: center;
}

header a, span {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

main {
    margin-bottom: 1.5rem;
    padding: 0 1em 0 1em;
}

/* Nav Stuff */

nav {
    position: sticky;
    top: 3rem;
    left: 0;
    display: none;
    background-color: var(--blue2);
    text-align: center;
}

nav.visible {
    display: block;
}

nav ul {
    list-style: none;
    padding: 0.25rem 0 0.25rem 0;
}

nav ul li {
    padding: 0.25rem 0 0.25rem 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

nav ul li a:hover {
    color: lightgray;
}

img {
    width: 100%;
    height: auto;
}

body {
    font-family: 'Nunito', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}

footer {
    margin-top: 1rem;
    padding: 0.5rem 0.5rem 0 0.5rem;
    background: lightgray;
    height: 100px;
    display: flex;
    flex-direction: row;
}

footer p {
    color: var(--gray2);
}

#bannerContainer{
    width: 100vw;
    background-color: gray;
    background-image: url("../ressources/Draven-Splashart.png"); /*There should be a blurred version of the image to serve as background but I can't use local files for some reason*/
    padding: 0;
    /*height: 395px;*/
    height: border-box;
}

@media screen and (min-width: 768px) {
    #banner {
        max-width: 75vw;
    }

    header a, span {
        font-size: 2em;
    }

    main h1, p {
        width: 75vw;
        margin: 0 auto 0 auto;
    }

    h1 {
        font-size: 3em;
    }

    main p {
        font-size: 2em;
    }

    h3 {
        font-size: 2em;
    }
}

@media screen and (min-width: 1200px) {
    #banner {
        max-width: 50vw;
    }

    main h1, p {
        width: 50vw;
    }

    nav {
        display: flex;
        position: fixed;
        top: 0;
        background-color: transparent;
        width: 50vw;
        justify-content: space-evenly;
        margin: 0 25vw 0 25vw;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        font-size: 2em;
        padding: 0 1em 0 1em;
    }

    header span {
        display: none;
    }
}