.card {
    width: calc(100vw / 3);
    padding: 0.1rem;
    margin-bottom: 1rem;
}

.card h3, .card p {
    text-align: left;
    padding-left: 0.5rem;
}

#cards {
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
    #cards {
        width: 90vw;
        margin: 0 auto 0 auto;
    }

    .card {
        width: calc(90vw / 4);
        padding: 0 0.5em 0 0.5em;
    }
}

@media screen and (min-width: 1200px) {
    .card {
        width: calc(90vw / 5);
    }

    .card p {
        font-size: 1.5em;
    }
}