.card {
    width: 33vw;
    padding: 0.1rem;
    margin-bottom: 1rem;
}

.card h3, .card p {
    text-align: left;
    padding-left: 0.5rem;
}

#cards {
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
}