.region {
    width: 90vw;
    margin: 0 auto 0 auto;
}

.card h3, .card p {
    text-align: left;
    padding-left: 0.5rem;
}

#regions {
    display: flex;
    flex-direction: column;
}

#bannerContainer {
    background-image: url("../ressources/RuneterraBlurred.png");
}

@media screen and (min-width: 768px) {
    .region {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-areas: "image content";
    }

    .region img {
        grid-area: image;
        width: calc(90vw / 4);
        height: auto;
    }

    .region div {
        width: calc((90vw / 4) * 3);
        grid-area: content;
    }

    .region div p {
        font-size: 1.5em;
    }
}